/* CSS Code goes here */

/* Target the main body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", serif;
    font-style: normal;
}

ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    display: flex;
    background-color: #266929;
    border-radius: 7px;
    font-weight: 500;
    border-style: none;
    padding: 8px 25px;
    color: #E5E7EB;
}

/* Header */
.header {
    display: flex;
    background-color: #1f3720;
    justify-content: space-evenly;
}

.header-left,
.header-left h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

/* Hero Content */
.hero {
    display: flex;
    background-color: #1f3720;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 80px;
}

.hero-left {
    display: flex;
    text-align: left;
    flex-direction: column;
    color: #F9FAF8;
    width: 480px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    font-size: 18px;
    font-weight: 300;
}

.hero-left button {
    align-self: flex-start;
}

.hero-square {
    width: 500px;
    height: 250px;
    background-color: #717172;
    color: #E5E7EB;
    align-content: center;
    margin-left: 50px;
}

.hero-right {
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
}

/* Random Information */

.info {
    display: flex;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}

.info-title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info {
    width: 260px;
}

/* Squares */

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.squares {
    background-color: #E5E7EB;
    width: 250px;
    height: 200px;
    border-radius: 20px;
}

.squares img {
    border: 3px solid #266929;
    border-radius: 20px;
}

/* Subtext Alignment */

.para {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paras {
    display: flex;
    gap: 20px;
    color: #3882F6
}

/* Quote */

.quote {
    display: flex;
    margin-top: 80px;
    padding: 50px 0px;
    background-color: #E5E7EB;
    flex-wrap: wrap;
    justify-content: right;
}

.quote-main {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 0px 500px;
    justify-content: center;
}

.quote-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 800;
    padding: 0px 500px;
}

/* Call To Action */

.main-container {
    display: flex;
    margin: 80px;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    height: 150px;
    background-color: #266929;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    margin: 0px 300px;
    flex: 1;
    gap: 500px;
}

/* Stuff inside the container */

.action-text {
    color:#E5E7EB;
    font-weight: 800;

}

.text-container {
    color:#E5E7EB;
}

.text-container p {
    margin-top: -15px; 
}


.text-button {
    border: 1px solid #fff;
}

/* Footer */

.footer {
    display: flex;
    flex: 1;
    background-color: #1f3720;
    justify-content: center;
    padding: 15px;
}

.copyright {
    display: flex;
    color: #E5E7EB;
    text-align: center;
    justify-content: center;
}