/* CSS Code goes here */

/* Target the main body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", serif;
    font-style: normal;
}

ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    display: flex;
    background-color: #3882F6; 
    border-radius: 7px;  
    font-weight: 500;
    border-style: none;
    padding: 5px 10px;
    color:#E5E7EB;
}

/* Header */
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
}

.header-left, .header-left h1{
    display: flex;
    justify-content: left;
    text-align: left;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    justify-content: right;
    text-align: center;
}

/* Hero Content */
.hero {
    display: flex;
    background-color: #1F2937;
    padding-top: 50px;
    justify-content: space-evenly;
    padding-bottom: 80px;
    
}

.hero-left {
    display: flex;
    justify-content: left;
    text-align: left;
    flex: 1;   
    flex-wrap: wrap;
    padding: 0px 70px;
}

.hero-left h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.hero-right {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    padding: 0px 90px;
}

.hero-square {
    width : 500px;
    height: 250px;
    background-color:#E5E7EB;
    align-content: center;
}


/* Random Information */

.info {
    display: flex;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}

.info-title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

/* Squares */

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.squares {
    background-color: #E5E7EB;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

/* Subtext Alignment */

/* Footer */

.footer {
    display: flex;
    position: fixed;
    background-color: #1F2937;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px; 
}

.copyright {
    display: flex;
    color: #E5E7EB;
    text-align: center;
    justify-content: center;
}